<!DOCTYPE html>
<html lang="en" ng-app="accountApp">
<head>
    <meta charset="UTF-8">
    <title>Banking Application</title>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Banking Application</a>
        </div>
    </div>
</nav>


<div ng-controller="accountController as accCtrl" ng-hide="accCtrl.isHidden">
    <h3><span>Simple example</span></h3>
    <input type="text" placeholder="search" ng-model="search">
    <h3><span>Table example</span></h3>
    <table ng-style="accCtrl.color">
        <tr>
            <th>FIRST NAME</th>
            <th>SECOND NAME</th>
            <th>ACCOUNT NUMBER</th>
        </tr>
        <tr ng-repeat="account in accCtrl.accounts | filter:search">
            <td style="width:200px">{{account.firstName}}</td>
            <td style="width:200px">{{account.secondName}}</td>
            <td style="width:200px">{{account.accountNumber}}</td>
        </tr>
    </table>
    <br/>
    <div>
        <button style="background-color: darkblue;color: white;" ng-click="accCtrl.changeColor('darkblue')">Blue</button>
        <button style="background-color: red; color: white;" ng-click="accCtrl.changeColor('red')">Red</button>
        <button style="background-color: green; color: white;" ng-click="accCtrl.changeColor('green')">Green</button>
        <button ng-click="accCtrl.changeColor('black')">Reset</button>
    </div>

</div>
<button ng-click="accCtrl.hideTable()">Hide All</button>


<link rel="stylesheet" href="scripts/bootstrap.min.css">

<script src="scripts/jquery-2.1.4.min.js"></script>
<script src="scripts/angular.min.js"></script>
<script src="scripts/ui-router.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>

<script src="app/app.js"></script>
<script src="app/controllers/account-controller.js"></script>
</body>
</html>